!!!
%html
  %head
    
  %body
    #flash-box
    #wrapper
    #chat-side
    #side-header
      #side-header__box
        %p#side-header__box__user-name ユーザーネーム
        %ul#side-header__box__menu
          %li#side-header__box__menu__new-group
%a"/groups/new"><i class="fa fa-edit"></i>
    #groups